*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

/annotation/build
/app/build
/app_skin/build
/autosize/build
/common/build
/compiler/build


